# {{ ansible_managed }}

interface=nspawn0

dhcp-option=option:ntp-server
dhcp-authoritative
no-ping

dhcp-range={{ nspawn0_addr | ipaddr('address') }},static,5m
{% for item in systemd_containers %}
dhcp-host={{ item.name }},{{ item.ip }}
{% endfor %}
