# {{ ansible_managed }}

[Exec]
NotifyReady=true

# don't use user namespacing, debian stretch doesn't quite support it
PrivateUsers=no

Timezone=off

[Files]
{% if item.bind is defined %}{% for bind in item.bind %}
Bind={{ bind.host }}:{{ bind.child }}
{% endfor %}{% endif %}
Bind=/mnt/shared/all

[Network]
Bridge=nspawn0
