# {{ ansible_managed }}
*filter
:INPUT ACCEPT [0:0]
:FORWARD ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]
# only allow root, admin, and westtel to access the AWS metadata service
-A OUTPUT -d 169.254.169.254/32 -p tcp -m owner --uid-owner 0 -j ACCEPT
-A OUTPUT -d 169.254.169.254/32 -p tcp -m owner --uid-owner 1000 -j ACCEPT
-A OUTPUT -d 169.254.169.254/32 -p tcp -m owner --uid-owner {{ westtel_uid }} -j ACCEPT
-A OUTPUT -d 169.254.169.254/32 -p tcp -j REJECT --reject-with icmp-port-unreachable
COMMIT

*nat
:PREROUTING ACCEPT [0:0]
:INPUT ACCEPT [0:0]
:POSTROUTING ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]
-A POSTROUTING -s {{ nspawn0_addr | ipaddr('network/prefix') }} -d 10.0.0.0/8 -o {{ ansible_default_ipv4.interface }} -j RETURN
-A POSTROUTING -s {{ nspawn0_addr | ipaddr('network/prefix') }} -d 192.168.0.0/16 -o {{ ansible_default_ipv4.interface }} -j RETURN
-A POSTROUTING -s {{ nspawn0_addr | ipaddr('network/prefix') }} -d 172.16.0.0/12 -o {{ ansible_default_ipv4.interface }} -j RETURN

# for NGA 911 RTP stuff
-A POSTROUTING -s {{ nspawn0_addr | ipaddr('network/prefix') }} -d 44.230.120.16/28 -o {{ ansible_default_ipv4.interface }} -j RETURN
-A POSTROUTING -s {{ nspawn0_addr | ipaddr('network/prefix') }} -d 44.230.120.96/28 -o {{ ansible_default_ipv4.interface }} -j RETURN

-A POSTROUTING -s {{ nspawn0_addr | ipaddr('network/prefix') }} -o {{ ansible_default_ipv4.interface }} -j MASQUERADE
COMMIT
