# {{ ansible_managed }}

{# nspawn0_addr is used to determine "are we in container or are we in host" #}
dc_eximconfig_configtype='satellite'
dc_other_hostnames=''
dc_local_interfaces='{% if nspawn0_addr is defined %}0.0.0.0{% else %}127.0.0.1 ; ::1{% endif %}'
dc_readhost='{{ ansible_hostname }}.{{ fqdn_suffix}}'
dc_relay_domains='{% if nspawn0_addr is defined %}westtel.com{% endif %}'
dc_minimaldns='false'
dc_relay_nets='{% if nspawn0_addr is defined %}{{ nspawn0_addr }}{% endif %}'
dc_smarthost='{% if nspawn0_addr is defined %}smtp.lan.westtel.com{% else %}{{ ansible_default_ipv4.gateway }}{% endif %}'
CFILEMODE='644'
dc_use_split_config='false'
dc_hide_mailname='true'
dc_mailname_in_oh='true'
dc_localdelivery='mail_spool'
