# {{ ansible_managed }}

# debian defaults
ChallengeResponseAuthentication no
UsePAM yes
PrintMotd no
AcceptEnv LANG LC_*

# logging
SyslogFacility AUTH
LogLevel VERBOSE

# use internal-sftp server for better logging and chroot support
Subsystem sftp internal-sftp -f AUTHPRIV -l INFO

ClientAliveInterval 120

AuthenticationMethods publickey
Match Address 10.0.0.0/8,192.168.0.0/16,172.16.0.0/12
    AuthenticationMethods password publickey
