# {{ ansible_managed }}

{% for filesystem in ansible_mounts %}
{% if filesystem.fstype == "ext4" or filesystem.fstype == "btrfs" or filesystem.fstype == "xfs" or filesystem.fstype == "vfat" %}
{# /dev/nvme devices are not stable on AWS, so we have to use the mounted path #}
check filesystem {{ filesystem.mount | regex_replace('/', '-') | regex_replace('^-(.+)$', '\\1') }}.mount with path {% if filesystem.device.startswith('/dev/nvme') %}{{ filesystem.mount }}{% else %}{{ filesystem.device }}{% endif %}

    if space > 80% for 60 cycles then alert
    if inode usage > 80% for 60 cycles then alert
{% endif %}
{% endfor %}
