# {{ ansible_managed }}

set daemon 60
    with start delay 60

set mailserver localhost

set mail-format {
	from: monit@{{ ansible_hostname }}.{{ fqdn_suffix }}
	subject: {{ psap_name }}  $EVENT $SERVICE at $DATE
	message: $EVENT Service $SERVICE
		Date:        $DATE
		Action:      $ACTION
		Host:        $HOST
		PSAP:        {{ psap_name }}
		Description: $DESCRIPTION
}

set httpd port 2812
    allow localhost
    allow 10.0.0.0/255.0.0.0
    allow 192.168.0.0/255.255.0.0
    allow 172.16.0.0/255.240.0.0
    allow @adm
    allow monit:{{ monit_password }}

{% for email in monit_alert_addresses %}
set alert {{ email }} with reminder on {{ 24 * 60 }} cycles
{% endfor %}

# use syslog instead of a log file
set logfile syslog

# the rest of these are default Debian
set idfile /var/lib/monit/id

set statefile /var/lib/monit/state

set eventqueue
    basedir /var/lib/monit/events
    slots 100

include /etc/monit/conf.d/*
include /etc/monit/conf-enabled/*
