alerts:
  active: off
  email:
    # server: localhost:25
    to:
      - alarm@westtel.com
    from:
      address: irr@{{ ansible_hostname }}.{{ fqdn_suffix }}
      phrase: irr@{{ ansible_hostname }}.{{ fqdn_suffix }}
    # warning escalation checked once-per-minute
    reminder_sec: 3600
    all_clear_sec: 60
recordings:
  dir: /var/opt/irr_recordings
  opus_complexity: 0
  assume_death_seconds: 86400 # default is 120, 86400 is one day
db:
  # Postgres URI documentation: https://www.postgresql.org/docs/current/static/libpq-connect.html
  # uri: postgresql://user:password@domain.or.ip/database
  # default is empty string
  uri: postgresql://{{ irr_db }}:{{ irr_db_password }}@{{ rds_result.instance.endpoint }}/{{ irr_db }}
  retention:
    limit: 500
    # if interval is changed, a retention pass will happen
    # in the next 10 seconds
    # afterwards, will happen interval by interval
    interval: 3600
log:
  destination: systemd # or stdout
  ptk_xml: no # print ptk XML from controller, minus heartbeat ACK
  missed_rtp_frames: 10
