# {{ ansible_managed }}
[Unit]
After=systemd-nspawn@{{ item.container }}.service
Requisite=systemd-nspawn@{{ item.container }}.service

[Service]
Environment=AWS_DEFAULT_REGION={{ aws_region }}
ExecStart=/bin/bash /opt/promote_fs{{ item.num }}.sh

Type=notify
SyslogIdentifier=master_fs{{ item.num }}
ExecStopPost=-/bin/ip route delete {{ item.ip }}/32 dev nspawn0
ExecStopPost=-/bin/systemd-run -M {{ item.container }} /bin/ip address delete {{ item.ip }}/32 dev host0
ExecStopPost=-/bin/aws ec2 delete-route --route-table-id {{ aws_main_route_table }} --destination-cidr-block {{ item.ip }}/32
