# {{ ansible_managed }}
[Service]
Environment=AWS_DEFAULT_REGION={{ aws_region }}
ExecStart=/bin/bash /opt/promote_db_ip{{ item.num }}.sh

Type=oneshot
RemainAfterExit=yes

ExecStopPost=-/usr/bin/ip address del {{ item.ip }}/32 dev {{ ansible_default_ipv4.interface }}
ExecStopPost=-/usr/bin/aws ec2 delete-route --route-table-id {{ aws_main_route_table }} --destination-cidr-block {{ item.ip }}/32
