#/bin/bash

if ! systemctl -M {{ item.container }} is-active freeswitch > /dev/null; then
    printf "<3>freeswitch isn't active, exiting immediately..."
    exit 1
fi

ip route add {{ item.ip }}/32 dev nspawn0

systemd-run -M {{ item.container }} /bin/ip address add {{ item.ip }}/32 dev host0

# keep trying to setup the route until it can
# very unideal, replace with not a shell script so we have better error handling

while true
do
    aws ec2 delete-route --route-table-id {{ aws_main_route_table }} --destination-cidr-block {{ item.ip }}/32
    if aws ec2 create-route --route-table-id {{ aws_main_route_table }} --destination-cidr-block {{ item.ip }}/32 --network-interface-id {{ result_interface_id.content }}; then
        break;
    fi
    sleep 1
done

systemd-run -M {{ item.container }} /usr/local/bin/fs_cli -x 'fsctl recover'
systemd-notify --ready

while true
do
    if ! systemctl -M {{ item.container }} is-active freeswitch > /dev/null; then
        printf "<3>freeswitch isn't active, exiting..."
        exit 1
    fi

    ip route add {{ item.ip }}/32 dev nspawn0 2> /dev/null

    sleep 0.5
done
