#/bin/bash

ip address add {{ item.ip }}/32 dev {{ ansible_default_ipv4.interface }}

# keep trying to setup the route until it can
# very unideal, replace with not a shell script so we have better error handling

while true
do
    aws ec2 delete-route --route-table-id {{ aws_main_route_table }} --destination-cidr-block {{ item.ip }}/32
    if aws ec2 create-route --route-table-id {{ aws_main_route_table }} --destination-cidr-block {{ item.ip }}/32 --network-interface-id {{ result_interface_id.content }}; then
        break;
    fi
    sleep 1
done
