[Unit]
Description=WestTel Phonebook

[Service]
ExecStart=/opt/phonebook/node/bin/node .
Restart=always
WorkingDirectory=/opt/phonebook/phonebook

PermissionsStartOnly=yes
ExecStartPre=/bin/mkdir -p /run/wt_phonebook
ExecStartPre=/bin/chown wt_phpweb:wt_phpweb /run/wt_phonebook
ExecStartPost=/bin/dash -c "echo $MAINPID > /run/wt_phonebook/phonebook.pid"
ExecStopPost=/bin/rm -rf /run/wt_phonebook

# the PostgreSQL connection parameters. Set these as needed
Environment=PGUSER={{ phonebook_db }}
Environment=PGHOST={{ rds_result.instance.endpoint }}
Environment=PGPASSWORD={{ phonebook_db_password }} PGDATABASE={{ phonebook_db }}

# BASE_URL needs to be set to the url that people access, it is
# also the url that is used in ng911_phonebook.xml to point at resources
# (i.e., icons)
Environment=BASE_URL=http://{{ ansible_default_ipv4.address }}:3001/

# should always be set in production
Environment=NODE_ENV=production

# this user needs to have write access to ng911_phonebook.xml
User=wt_phpweb

# nice to have
CPUAccounting=yes
MemoryAccounting=yes
TasksAccounting=yes
IOAccounting=yes

# System protection
PrivateDevices=yes
PrivateTmp=yes
ProtectSystem=full
ProtectKernelModules=yes
ProtectKernelTunables=yes
ProtectControlGroups=yes
NoNewPrivileges=yes

[Install]
WantedBy=multi-user.target
