# this is useful when there is only one LV to snapshot and the entire backup will be that one
# LV. We tell backup.sh to snapshot $MAIN_VG_NAME/$MAIN_LV_NAME with a snapshot size of
# $SNAPSHOT_SIZE, and the current directory for rsync will be that directory (so BACKUP_INCLUDE
# will include stuff like './etc/').
#export MAIN_VG_NAME=WT-260-PBX-vg
#export MAIN_LV_NAME=root
#export SNAPSHOT_SIZE='10G'

# these are generally in /etc/environment but that won't always work, this will
#export PSAP_SITE_ID=WT-260
#export PSAP_SERVER_ID=WT-260-1

# make multiple snapshot volumes. The snapshot volumes are name VG_NAME/LV_NAME-backup and are
# mounted at LV_MOUNT with a size of LV_SIZE. LV_SIZE needs to be bigger than any changes during
# the backup (if it is not the backup will no longer be consistent).
#export VG_NAMES=('main-vg' 'main-vg' 'main-vg' 'main-vg' 'main-vg')
#export LV_NAMES=('home' 'root' 'var' 'var-log' 'var-log-audit')
#export LV_MOUNTS=('/mnt/backups/home/home' '/mnt/backups/root' '/mnt/backups/var/var' '/mnt/backups/var-log/var/log' '/mnt/backups/var-log-audit/var/log/audit')
#export LV_SIZES=('2G' '2G' '2G' '2G' '2G')

# default backup directories. It's okay to include directories that don't exist.
export BACKUP_INCLUDE=( \
{% for dir in backup_include %}
	'{{ dir }}' \
{% endfor %}
)

# when using multiple snapshot LVs you will need to do this
# the /./ tells rsync "this is root" so that the backup will look like a single filesystem
# and not a bunch of independent snapshots
#export BACKUP_INCLUDE=( \
#	'/mnt/backups/root/./etc/' \
#	'/mnt/backups/var/./var/cache/debconf/' \
#	'/mnt/backups/var/./var/lib/' \
#	'/mnt/backups/var-log/./var/log/' \
#	'/mnt/backups/var-log-audit/./var/log/audit/' \
#	'/mnt/backups/var/./var/www/' \
#	'/mnt/backups/var/./var/mail/' \
#	'/mnt/backups/var/./var/local/' \
#	'/mnt/backups/var/./var/opt/' \
#	'/mnt/backups/var/./var/spool/cron/' \
#	'/mnt/backups/root/./srv/' \
#	'/mnt/backups/root/./opt/' \
#	'/mnt/backups/root/./root/' \
#	'/mnt/backups/home/./home/' \
#	'/mnt/backups/root/./datadisk1/ng911/' \
#	'/mnt/backups/root/./datadisk1/tftpboot/' \
#	'/mnt/backups/root/./datadisk1/freeswitch/freeswitch_config/conf/' \
#)

# BACKUP_EXCLUDE can be used as well, it is an array like BACKUP_INCLUDE
# read rsync man page for explanation of --exclude option
# export BACKUP_EXCLUDE=('./etc/prelink.cache')

export PATH="/sbin:$PATH"

fn_prebackup() {
	mkdir -p /opt/backup/apt
	chmod go-r /opt/backup/apt

	# backup some apt stuff as well
	dpkg --get-selections | sponge /opt/backup/apt/selections.lst
	apt-mark showmanual | sponge /opt/backup/apt/manual.lst
	apt-mark showauto | sponge /opt/backup/apt/auto.lst
	debconf-get-selections | sponge /opt/backup/apt/debconf.lst
}
