# {{ ansible_managed }}
[Unit]
Description=Remove old FS logs

[Service]
Type=oneshot
ExecStart=/usr/bin/find /var/log/freeswitch -name 'freeswitch.log.*' -mtime +31 -delete
ExecStart=/usr/bin/find /var/log/freeswitch/xml_cdr -name '*.cdr.xml' -mtime +31 -delete
