# {{ ansible_managed }}

bind-dynamic

interface={{ ansible_default_ipv4.interface }}

hostsdir=/etc/dnsmasq.hosts.d/

clear-on-reload

# point back at westtel office
server=/artifact.westtel.com/192.168.60.203
server=/lan.westtel.com/192.168.60.203
rev-server=192.168.60.0/24,192.168.60.203
rev-server=192.168.61.0/24,192.168.60.203
rev-server=192.168.1.0/24,192.168.60.203

# point at NGA911 DNS server
server=/nv.nga911.com/172.22.21.251
