# {{ ansible_managed }}

check process dnsmasq with pidfile "/run/dnsmasq/dnsmasq.pid"
	start program = "/bin/systemctl start dnsmasq.service"
	stop program = "/bin/systemctl stop dnsmasq.service"
	restart program = "/bin/systemctl restart dnsmasq.service"
	if failed port 53 type udp protocol dns timeout 1 seconds then alert
	if failed port 53 type tcp protocol dns timeout 1 seconds then alert
	if 3 restarts within 3 cycles then timeout
	if does not exist then alert
