# {{ ansible_managed }}
# these are the same on every host

{{ controller_ip }} {{ controller_hostname }}.{{ fqdn_suffix }} {{ controller_hostname }}
{{ fsa_ip }} {{ fsa_hostname }}.{{ fqdn_suffix }} {{ fsa_hostname }}
{{ fsb_ip }} {{ fsb_hostname }}.{{ fqdn_suffix }} {{ fsb_hostname }}
{{ fsw_ip }} {{ fsw_hostname }}.{{ fqdn_suffix }} {{ fsw_hostname }}

{{ controller_nspawn0_ip | ipaddr('address') }} {{ controller_hostname }}-nspawn0.{{ fqdn_suffix }} {{ controller_hostname }}-nspawn0
{{ fsa_nspawn0_ip | ipaddr('address') }} {{ fsa_hostname }}-nspawn0.{{ fqdn_suffix }} {{ fsa_hostname }}-nspawn0
{{ fsb_nspawn0_ip | ipaddr('address') }} {{ fsb_hostname }}-nspawn0.{{ fqdn_suffix }} {{ fsb_hostname }}-nspawn0
{{ fsw_nspawn0_ip | ipaddr('address') }} {{ fsw_hostname }}-nspawn0.{{ fqdn_suffix }} {{ fsw_hostname }}-nspawn0

{{ controller_psap1_ip }} {{ controller_psap1_hostname }}.{{ fqdn_suffix }} {{ controller_psap1_hostname }}
{{ controller_psap2_ip }} {{ controller_psap2_hostname }}.{{ fqdn_suffix }} {{ controller_psap2_hostname }}
{{ controller_psap3_ip }} {{ controller_psap3_hostname }}.{{ fqdn_suffix }} {{ controller_psap3_hostname }}
{{ fsa_psap1_ip }} {{ fsa_psap1_hostname }}.{{ fqdn_suffix }} {{ fsa_psap1_hostname }}
{{ fsa_psap2_ip }} {{ fsa_psap2_hostname }}.{{ fqdn_suffix }} {{ fsa_psap2_hostname }}
{{ fsa_psap3_ip }} {{ fsa_psap3_hostname }}.{{ fqdn_suffix }} {{ fsa_psap3_hostname }}
{{ fsb_psap1_ip }} {{ fsb_psap1_hostname }}.{{ fqdn_suffix }} {{ fsb_psap1_hostname }}
{{ fsb_psap2_ip }} {{ fsb_psap2_hostname }}.{{ fqdn_suffix }} {{ fsb_psap2_hostname }}
{{ fsb_psap3_ip }} {{ fsb_psap3_hostname }}.{{ fqdn_suffix }} {{ fsb_psap3_hostname }}

{{ floating_psap1_controller }} {{ psap1 }}-external-ng911.{{ fqdn_suffix }} {{ psap1 }}-external-ng911
{{ floating_psap2_controller }} {{ psap2 }}-external-ng911.{{ fqdn_suffix }} {{ psap2 }}-external-ng911
{{ floating_psap3_controller }} {{ psap3 }}-external-ng911.{{ fqdn_suffix }} {{ psap3 }}-external-ng911
{{ floating_psap1_fs }} {{ psap1 }}-external-fs-tftp.{{ fqdn_suffix }} {{ psap1 }}-external-fs-tftp
{{ floating_psap2_fs }} {{ psap2 }}-external-fs-tftp.{{ fqdn_suffix }} {{ psap2 }}-external-fs-tftp
{{ floating_psap3_fs }} {{ psap3 }}-external-fs-tftp.{{ fqdn_suffix }} {{ psap3 }}-external-fs-tftp
{{ floating_db1 }} fs-database-alpha.{{ fqdn_suffix }} fs-database-alpha
{{ floating_db2 }} fs-database-beta.{{ fqdn_suffix }} fs-database-beta
