# {{ ansible_managed }}
[Unit]
Description=Cockroach Database cluster node
Requires=network.target
RequiresMountsFor=/var/lib/cockroach

[Service]
Type=notify
WorkingDirectory=/var/lib/cockroach
ExecStart=/usr/local/bin/cockroach start --certs-dir=certs --advertise-addr={{ eth0_ip }} --join={{ fsa_ip }},{{ fsb_ip }},{{ fsw_ip }} --cache=.25 --max-sql-memory=.25 --locality=cloud=aws,region={{ aws_region }},az={{ aws_az }}
TimeoutStopSec=60
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=cockroach
User=cockroach

RuntimeDirectory=cockroach
ExecStartPost=/bin/dash -c 'echo $MAINPID > /run/cockroach/cockroach.pid'

[Install]
WantedBy=default.target
